
body{
    background-color:  rgb(116, 112, 106);
}


.registro-passado {
    color: #ffffff; 
    border-left: 4mm ridge rgba(9, 5, 240, 0.6);
    padding-left: 10px;
}

.registro-atual {
    color: #ffffff; 
    border-left: 4mm ridge rgb(0, 255, 76);
    padding-left: 10px;
}

.falta-registro {
    color:#ffffff;
    border-left: 4mm ridge rgba(255, 0, 0, .6);
    padding-left: 10px;
}

.abcd {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px; 
    background-color: rgb(116, 112, 106);
    
}

.botoes-container {
    display: flex; 
    gap: 5px; 
    margin-right: 900px;
}

.botoes-container button {
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #032f5f; 
    color: white; 
    cursor: pointer; 

}

.botoes-container button:hover {
    background-color: #0056b3; 
}

.registro-editado {
    border-left: 4mm ridge rgba(211, 220, 50, .6);
    padding-left: 10px;
    font-weight: bold;
}

#btn-adicionar-justificativa{
    margin-bottom: 10px;
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #032f5f; 
    color: white; 
    cursor: pointer; 

}